* {
    font-family: 'Novecentosanswide', 'Arial', sans-serif !important;
}

body {
    font-family: 'Novecentosanswide', 'Arial', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Novecentosanswide', 'Arial', sans-serif !important;
    font-weight: normal;
}

p, li, td, th, span, div, a {
    font-family: 'Novecentosanswide', 'Arial', sans-serif !important;
    line-height: 1.6;
}

#sidebar nav ul li a {
    font-family: 'Novecentosanswide', 'Arial', sans-serif !important;
}

#select-language {
    font-family: 'Novecentosanswide', 'Arial', sans-serif !important;
}